.contact {
  background-color: rgba(42,48,64,1);
  display: block;
  float: left;
  padding: 30px;
  width: 100%;
}
.contact input, .contact textarea  {
  border-radius: 0;
  border-style: none;
  float: left;
  font-size: 20px;
  margin: 15px auto;
  padding: 15px;
}
.contact form {
  margin: auto;
  min-width: 768px;
  width: 50%;
}
.contact form fieldset {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 15px;
}
.contact form fieldset:nth-of-type(-n+4) {
  float: left;
  width: 50%;
}
.contact form fieldset:nth-of-type(-n+4) input {
  margin-left: 0;
  width: 100%;
}
.contact form fieldset label {
  color: #fff;
  display: block;
  font-weight: lighter;
  margin: 0 auto;
}
.contact form button {
  background-color: #fcaf31;
  border: none;
  color: #fff;
  float: right;
  margin: 15px;
  padding: 20px;
  width: 200px;
}
.contact form button:hover {
  cursor: pointer;
}
.contact h2 {
  color: #fff;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  width: 100%;
}
.contact form fieldset:nth-of-type(n+5) {
  width: 100%;
}
.contact form fieldset textarea {
  height: 200px;
  width: 100%;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .contact form {
    margin: auto;
    width: 66%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .contact form {
    float: left;
    width: 100%;
  }
  .contact form fieldset label {
    margin: 0 auto;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .contact {
    padding: 15px;
  }
  .contact form {
    float: left;
    width: 100%;
  }
  .contact form fieldset:nth-of-type(-n+3) {
    width: 100%;
  }
  .contact form fieldset label {
    margin: 0 auto;
  }
}
