/*
Author: Resilient Lab
Author URI: http://www.resilientcoders.org/lab
Description: Semantically Structured HTML Pen
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
*/
/*-----------------------------------
>>> TABLE OF CONTENTS:
-------------------------------------
# General
  ## Events
  ## Header
  ## Footer
# Typography
# Navigation
# Accessibility
# Components
  ## Collaborators
  ## Clients
  ## Portfolio
  ## Testimonials
# Media Queries
  ## Wide Screens, Large Devices
  ## Desktops, Medium Devices
  ## Tablets, Small Devices
  ## Phones, Extra Small Devices
# Animations

------------------------------------*/
/*-----------------------------------
# General
------------------------------------*/
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
html {
  font: 100%/1.5 Helvetica, sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
}
body  {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body,
button,
input {
  -webkit-font-smoothing: antialiased;
}
button {
  font-size: 1.25em; /* 1.25*16 = 20 */
}
section {
  display: block;
}
/*-----------------------------------
## Header
------------------------------------*/
header {
  display: block;
  float: left;
  padding: 15px 30px;
  position: absolute;
  width: 100%;
  z-index: 4;
}
header nav {
  display: block;
  float: left;
  width: 100%;
}
header nav div.logo {
  display: inline-block;
  float: left;
  width: 20%;
}
header nav div.logo img {
  display: block;
  float: left;
  max-height: 80px;
  width: auto;
}
header nav ul {
  display: inline-block;
  float: left;
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  min-width: 80%;
  text-align: right;
}
header nav ul li {
  color: #fff;
  display: inline-block;
  float: right;
  padding: 5px 5px;
  text-align: center;
  width: calc( (100% / 6) - 15px);
}
header nav ul li:nth-of-type(1) {
  border: 1px solid rgb(255,174,0);
}
header nav ul li:nth-of-type(1):hover, header nav ul li:nth-of-type(1):hover a  {
  background-color: rgb(255,174,0);
  color: #fff;
  cursor: pointer;
  /*-webkit-transform: ; add in some sort of transition*/
  /*-moz-transform: ;*/
  /*-ms-transform: ;*/
  /*-o-transform: ;*/
  /*transform: ;*/
}
header nav ul li a {

}
/*-----------------------------------
## Footer
------------------------------------*/
footer {
  background-color: rgba(42,48,64,1);
  border-top: 2px solid #fff;
  clear: both;
  color: white;
  display: block;
  float: left;
  width: 100%;
}
footer section.company, footer .social-media {
  display: inline-block;
  float: left;
  padding: 45px 30px;
  width: 50%;
}
footer .social-media {
  text-align: right;
}
footer .social-media a {
  margin: 0 5px;
}
footer .social-media a:hover {
  text-decoration: none;
}
footer .social-media a i {

}
/*-----------------------------------
## Events
------------------------------------*/
a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
a,
a:visited {
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
button:active {

}
button:focus {

}
button:hover {
  cursor: pointer;
}
/*-----------------------------------
# Typography
------------------------------------*/
h1 {
  font-size: 2.25em;       /* 2.25*16 = 36 */
}
h2 {
  font-size: 1.75em;     /* 1.75*16 = 28 */
}
h3 {
  font-size: 1.25em;    /* 1.25*16 = 20 */
}
h4 {
  font-size: 1.17em;       /* 1.17*16 = 18.72 */
}
h5 {
  font-size: 0.83em;    /* 0.83*16 = 13.28 */
}
h6 {
  font-size: 0.75em;    /* 0.75*16 = 12 */
}
p {
  font-size: 1.17em;
  line-height: 1.5;
  margin: 0 0 1em;
}
/*-----------------------------------
# Hero
------------------------------------*/
section.hero {
  clear: both;
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
}
section.hero:before {
  background-color: rgba(42,48,64, 0.34);
  content: "";
  display: block;
  float: left;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
section.hero video {
  display: block;
  max-width: 100%;
  position: relative;
  width: 100%;
}
section.hero div.content {
  padding: 0 45px;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
  z-index: 3;
}
section.hero div.content h1 {
  color: white;
}
section.hero div.content h2 {
  color: white;
}
section.hero div.content a {

}
section.hero div.content a button {
  background-color: rgb(255,174,0);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 30px;
}
.row {
  display: block;
  float: left;
  padding: 45px;
  position: relative;
  width: 100%;
}
.row .content {
  display: inline-block;
  padding: 45px;
  width: 50%;
}
.row .media {
  border: 1px solid #fff;
  display: inline-block;
  float: left;
  max-height: 440px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .35);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .35);
  width: 50%;
}
.about-nvm .row:nth-of-type(odd) .media {
  float: right;
}
.about-nvm .row:nth-child(n+2) {
  background-color: rgba(255,174,0,1.0);
  color: #fff;
}
.row .media img {
  height: auto;
  width: 100%;
}
/*-----UPDATED COPY FOR WHY START VENTURE (START)-----*/
.nvm-venture .row:nth-of-type(odd) .media {
  float: right;
}
.nvm-venture .row {
  background-color: rgba(42,48,64,1);
  color: #fff;
}
/*-----UPDATED COPY FOR WHY START VENTURE (END)-----*/
.gradient-banner {
  display: block;
  float: left;
  height: 480px;
  position: relative;
  width: 100%;
}
.gradient-banner .content {
  color: #fff;
  display: inline-block;
  float: left;
  padding: 15px;
  position: relative;
  width: 55%;
  /*font-size: 20px;*/
  font-weight: lighter;
}
.gradient-banner .content ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  display: inline-block;
  float: left;
  /*padding: 10px;*/
  width: 25%;
}
.gradient-banner .content ul li {
  list-style-type: disc;
}
/*----special gradient code------*/
.gradient-banner .content #special {
  margin-left: 20px;
}
.gradient-banner .content #special-two {
  margin-left: -60px;
  margin-right: 26px;
}
/*----special gradient code------*/
.gradient-banner .bg-img {
  float: left;
  width: 45%;
  height: 100%;
  background: url('https://images.pexels.com/photos/321111/pexels-photo-321111.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center center no-repeat;
  background-size: cover;
}
.gradient-banner .bg-img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 5%;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, transparent), /* Top */
      color-stop(.40, rgba(255,174,0,1.0)) /* Bottom */
  );
}
/*-----------------------------------
## Collaborators
------------------------------------*/
.collab-sec{
  min-height: 100vh;
  float: left;
  padding: 45px;
}
.our-collab-title {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.collaborators {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
li.collaborator {
  float: left;
  list-style: none;
  padding: 15px;
  width: calc(100% / 3);
}
ul.collaborators h2 {
  text-align: center;
}
ul.collaborators a li:hover {
  -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.55);
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.55);
  border-radius: 2px;
  cursor: pointer;
}
ul.collaborators .collaborator div {
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
ul.collaborators .collaborator div img {
  border: none;
  border-radius: 50%;
  float: left;
  height: auto;
  padding: 15px;
  width: 100%;
}
ul.collaborators .collaborator h3 {
  margin-bottom: 5px;
  margin-top: 35px;
}
/*-----------------------------------
## Clients
------------------------------------*/
.clients {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px auto;
  padding: 45px;
  width: 100%;
}
.clients h3 {
  text-align: center;
  width: 100%;
  font-size: 1.75em;
}
.clients a {
  padding: 15px;
  width: calc(100% / 10);
}
.clients a img {
  height: auto;
  width: 100%;
}
/*-----------------------------------
## Portfolio
------------------------------------*/
.flex-horiz-center {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}
#portfolio {
  background-color: #2a3040;
  float: left;
  padding: 30px;
}
#portfolio ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
#portfolio .filter {
  float: left;
  margin: 15px auto;
  text-align: center;
  width: 100%;
}
#portfolio .filter li {
  color: white;
  float: left;
  margin: 0;
  padding: 10px;
}
#portfolio .filter li.active,
#portfolio .filter li:hover {
  color: #ffae00;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #ffae00;
}
#portfolio .content {
  color: #fff;
  padding: 15px;
}
#portfolio .content > h2, #portfolio .content > h3 {
  color: white;
  font-size: 30px;
  text-align: center;
}
#portfolio .content > h3 {
  font-size: 22px;
}
#portfolio .media {
  display: block;
  float: left;
  margin: 15px auto;
  min-width: 100%;
}
#portfolio .media .portfolio-card {
  background-color: #2a3040;
  display: inline-block;
  float: left;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px;
  text-align: center;
  /*width: calc(25% - 10px);*/
  width: 25%;
}
#portfolio .media .portfolio-card iframe {
  display: none;
  height: auto;
  width: 100%;
}
#portfolio .media .portfolio-card > h3{
  color: white;
  text-align: center;
}
#portfolio .media .portfolio-card > h4 {
  color: #ffae00;
  text-align: center;
}
#portfolio .media .portfolio-card div {
  height: auto;
  margin: 30px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#portfolio .media .portfolio-card div img {
  height: auto;
  margin: -40px auto;
  width: 100%;
}
#portfolio .media .portfolio-card div .overlay {
  background-color: #ffae00;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: -30px;
  transition: .5s ease;
  width: 100%;
}

#portfolio .media .portfolio-card div .overlay:hover {
  cursor: pointer;
  opacity: 1;
}
#portfolio .media .portfolio-card div .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 0;
}
#portfolio .modal-video {
  background-color: rgba(0,0,0,0.5);
  display: block;
  float: left;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
#portfolio .modal-video.active {
  display: none;
}
#portfolio .modal-video .modal-video-container {
  background-color: #000;
  margin: 0 auto;
  min-height: 50vh;
  position: relative;
  top: 25%;
  width: 50%;
}
#portfolio .modal-video .modal-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#portfolio .modal-video .modal-video-content {
  background-color: #ddd;
  clear: both;
  display: block;
  margin: 0 auto;
  padding: 30px 15px;
  position: relative;
  top: 25%;
  width: 50%;
}
/*-----------------------------------
## Testimonials
------------------------------------*/
.testimonials {
  background-color: #efefef;
  display: block;
  float: left;
  min-width: 100%;
  padding: 30px 60px;
  width: 100%;
}
.testimonials .client-quotes {
  background-color: white;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
  -webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0 0 8px 3px rgba(0,0,0,0.35);
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.35);
}
.testimonials .client-quotes h4 {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.testimonials .client-quotes span{
  display: block;
  margin-top: -20px;
}
.testimonials .client-quotes blockquote {
  font-size: 20px;
  font-weight: lighter;
  margin: auto auto -50px auto;
  max-width: 768px;
  padding: 30px;
  text-align: center;
}
.testimonials h2 {
  margin: 15px auto;
  text-align: center;
  width: 100%;
}
.testimonial-thumbnail {
  background-color: #b2b9c1;
  border-radius: 50%;
  height: 60px;
  margin: -30px auto 0;
  text-align: center;
  width: 60px;
}
.testimonial-thumbnail img {
  height: auto;
  width: 100%;
}
.smaller-circles {
  border-radius: 50%;
  background-color: #b2b9c1;
  display: inline-block;
  height: 13px;
  margin: 0 3px;
  width: 13px;
}
.small-circles-wrap {
  text-align: center;
  margin-top: 25px;
}
.logo-list .logos {
  background-color: #efefef;
  color: #b2b9c1;
  float: left;
  list-style: none;
  text-align: center;
  width: calc(100% / 7);
}
.logo-list {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  background-color: #efefef;
  float: left;
  margin: 15px auto;
  width: 100%;
}
.smaller-circles:hover {
  background-color: #fcaf31;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {
  .clients a {
    width: calc(100% / 8);
  }
  .testimonials {
    padding: 30px;
  }
  .testimonials .client-quotes {
    width: 100%;
  }
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  section.hero div.content {
    top: 30%;
  }
  .row {
    padding: 45px;
  }
  .row .content, .row .media {
    padding: 0;
    width: 100%;
  }
  .gradient-banner .content ul {
    display: inline-block;
    float: left;
    width: 50%;
  }
  .clients a {
    width: calc(100% / 6);
  }
  li.collaborator {
    width: calc(100% / 2);
  }
  #portfolio .media .portfolio-card {
    width: calc(100% / 3);
  }
  .logo-list .logos {
    text-align: center;
    width: 25%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  header {
    padding: 15px;
  }
  header nav ul {
    display: none;
  }
  section.hero {
    height: 66vh;
  }
  section.hero video {
    max-width: none;
    width: auto;
    height: 100%;
  }
  section.hero div.content {
    top: 18%;
  }
  .row {
    padding: 45px;
  }
  .row .content, .row .media {
    padding: 0px;
  }
  .gradient-banner {
    height: auto;
  }
  .gradient-banner .bg-img {
    width: 100%;
  }
  .gradient-banner .bg-img::before {
    background: none;
  }
  .gradient-banner .content {
    background: rgba(255,174,0,1.0);
    width: 100%;
  }
  .gradient-banner .content ul {
    display: inline-block;
    float: left;
    width: 50%;
  }
  .clients a {
    width: calc(100% / 4);
  }
  ul.collaborators .collaborator div {
    display: block;
    float: none;
    margin: 0 auto;
  }
  #portfolio .media .portfolio-card {
    width: 50%;
  }
  .testimonials {
    padding: 30px 15px;
  }
  .logo-list .logos {
    text-align: center;
    width: 33%;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  section.hero div.content {
    top: 20%;
  }
  .row {
    padding: 15px;
  }
  .row .content, .row .media {
    padding: 0px;
  }
  .gradient-banner .bg-img {
    width: 100%;
  }
  .gradient-banner .bg-img::before {
    background: none;
  }
  .gradient-banner .content {
    background: rgba(255,174,0,1.0);
    width: 100%;
  }
  .gradient-banner .content ul {
    width: 100%;
  }
  .clients {
    padding: 15px;
  }
  .clients a {
    width: calc(100% / 2);
  }
  .collab-sec {
    padding: 15px;
  }
  li.collaborator {
    width: 100%;
  }
  #portfolio {
    padding: 10px;
  }
  #portfolio .media .portfolio-card {
    width: 100%;
  }
  .testimonials {
    padding: 30px 15px;
  }
  .logo-list .logos {
    text-align: center;
    width: 50%;
  }
}
/*-----------------------------------
# Animations
------------------------------------*/
.lock-body-overflow {
  overflow: hidden;
}
.rc-loader {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.rc-loader .circle-one {
  animation: loading 1.3s .65s infinite;
  background: #ffa500;
  border-radius: 50%;
  height: 20px;
  opacity: .0;
  position: absolute;
  width: 20px;
}
.rc-loader .circle-two {
  animation: loading 1.3s infinite;
  background: #2a3040;
  border-radius: 50%;
  height: 20px;
  opacity: .0;
  position: absolute;
  width: 20px;
}
.rc-loader div {

}
@keyframes loading {
  0% {
    box-shadow: 0 0 2px rgba(0,0,0, .1);
    opacity: .0;
    transform: scale(.15);
  }
  50% {
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    opacity: 1;
    transform: scale(2);
  }
  100% {
    box-shadow: 0 0 2px rgba(0,0,0, .1);
    opacity: .0;
    transform: scale(.15);
  }
}
