<section class="gradient-banner">
  <div class="bg-img"></div>
  <div class="content">
    <h1>Once we believe in your cause, nevermind the obstacles.</h1>
    <ul>
      <h3>Entrepeneurial Campaigns</h3>
      <li>Fundraising Video</li>
      <li>Company Culture Video</li>
      <li>Client Testimonials</li>
      <li>Animation</li>
      <li>Product Demo</li>
    </ul>
    <ul id="special">
      <h3>Events</h3>
      <li>Promote</li>
      <li>Recap</li>
      <li>Archive</li>
    </ul>
    <ul id="special-two">
      <h3>Real Estate</h3>
      <li>Video Walkthroughs</li>
      <li>Photography</li>
      <li>Agent Profile Videos</li>
    </ul>
    <ul>
      <h3>Creative Package / Original Content</h3>
      <li>Music Videos</li>
      <li>Documentaries</li>
      <li>Video Blogs</li>
      <li>Short Films</li>
    </ul>
  </div>
</section>
