<!-- Starter Header Starts -->
<header>
  <nav>
    <div class="logo">
      <img src="" />
    </div>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#" target="www.google.com">Donate</a>
      </li>
    </ul>
  </nav>
</header>
<!-- Starter Header Ends -->
<!-- Starter Hero Banner Starts -->
<section class="hero banner">
  <img src="" />
  <div class="content">
    <h1>Hero Headliner</h1>
    <p>Hero paragraph</p>
    <a href="#">
      <button>Hero Button</button>
    </a>
  </div>
</section>
<!-- Starter Hero Banner Ends -->
