<section id="portfolio">
  <section class="content">
    <h2>Diverse range of projects to educate, entertain & motivate action.</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
    <ul class="filter flex-horiz-center">
        <li>ALL</li>
        <li>TECH</li>
        <li>FOOD</li>
        <li>RETAIL</li>
        <li>NON-PROFIT</li>
        <li>MARKETING</li>
        <li>DOCUMENTARY</li>
      </ul>
  </section>
  <ul class="media">
  {% for portfolio in site.data.portfolio %}
    <li class="portfolio-card">
      <img src= "{{ portfolio.photo }}" />
      <h3> {{ portfolio.title }} </h3>
      <h4> {{ portfolio.project-name }} </h4>
    </li>
  {% endfor %}
  </ul>
</section>
