<section id="about" class="about-nvm">
        <section class="row">
          <div class="content">
            <h3>{{ page.about-tom-row.title }}</h3>
            <p>{{ page.about-tom-row.content }}</p>
          </div>
          <img src="{{ site.baseurl }}/img/{{ page.about-tom-row.photo }}" class="row-media" alt="" />
        </section>
        <section class="row">
          <div class="content">
            <h3>{{ page.process-row.title }}</h3>
            <p>{{ page.process-row.content }}</p>
          </div>
          <img src="{{ site.baseurl }}/img/{{ page.process-row.photo }}" class="row-media" alt="" />
        </section>     
</section>
