<ul id="collaborators" class="collaborators">
  <h2>Our Collaborators</h2>
  <h4>Want to learn about them?</h4>
{% for collaborator in site.data.collaborators %}
  <a href="{{ collaborator.website }}" target="_blank" >
    <li class="collaborator">
      <div class="circle-wrap">
        <img src="{{ collaborator.logo-photo }}" alt="" />
      </div>
      <span>
        <h4>{{ collaborator.name }}</h4>
        <small>{{ collaborator.brief-bio }}</small>
      </span>
    </li>
  </a>
{% endfor %}
</ul>
