<section class="contact" id="connect">
  <h2>Let's work together</h2>
  <form method="POST" action="http://formspree.io/tom@newview.media">
    <fieldset>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Full Name" required>
    </fieldset>
    <fieldset>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email Address" required>
    </fieldset>
    <fieldset>
      <label for="client">Organization?</label>
      <input type="text" id="client" name="organization" placeholder="Organization">
    </fieldset>
    <fieldset>
      <label for="timeline">Any hard deadlines?</label>
      <input type="text" id="timeline" name="timeline" placeholder="MM/DD/YYYY">
    </fieldset>
    <fieldset>
      <label for="message">What projects are you passionate about?</label>
      <textarea id="message" name="message" rows="8" cols="80"
                placeholder="Let us know what projects you are passionate about here"></textarea>
    </fieldset>
    <button type="submit" name="button">SUBMIT</button>
  </form>
</section>
