<section class="contact-section" id="connect">
  <h2>Let's work together</h2>
  <form method="POST" action="http://formspree.io/emilio.a.murillo@gmail.com">
    <fieldset>
      <label for="name">Name</label>
      <input class="" type="text" id="name" name="name" value="" required>
    </fieldset>
    <fieldset>
      <label for="email">Email</label>
      <input class="" type="email" id="email" name="email" value="" required>
    </fieldset>
    <fieldset>
      <label for="client">Organization?</label>
      <input class="" type="text" id="client" name="name" value="">
    </fieldset>
    <fieldset>
      <label for="message">What projects are you passionate about?</label>
      <textarea id="message" name="message" rows="8" cols="80"></textarea>
    </fieldset>
    <button type="submit" name="button">SUBMIT</button>
  </form>
</section>
