<section id="connect" class="contact-section">
  <h2>Lets work together.</h2>
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input class="" type="text" id="name" name="name" value="" required>
    </fieldset>
    <fieldset>
      <label for="email">Email</label>
      <input class="" type="text" id="email" name="email" value="" required>
    </fieldset>
    <fieldset>
      <label for="client">Collaborator or Client?</label>
      <input class="" type="text" id="client" name="" value="">
    </fieldset>
    <fieldset>
      <label for="message">What projects are you passionate about?</label>
      <textarea id="message" name="message" rows="8" cols="80"></textarea>
    </fieldset>
    <button type="button" name="button">SUBMIT</button>
  </form>
</section>
