<footer>
  <section class="company">
    <small>New View.Media</small>
    <small class="address">50 Milk St, Boston, MA, 02109</small>
  </section>
  <section class="social-media">
    <a href="https://www.facebook.com/NewViewMedia-1901326850139087/" target="_blank">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/NewView_Media" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/newview.media/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/company/newview.media" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </section>
  <!-- Js -->
  <script src="{{ site.baseurl }}/js/main.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/smooth-scroll.js"></script>
</footer>
