<section id="gradient-banner" class="gradient-banner">
  <div class="bg-img"></div>
  <div class="content">
    <h3>Once we believe in your cause, nevermind the obstacles.</h3>
    <ul>
      <h4>Entrepeneurial Campaigns</h4>
      <li>Fundraising Video</li>
      <li>Company Culture Video</li>
      <li>Client Testimonials</li>
      <li>Animation</li>
      <li>Product Demo</li>
    </ul>
    <ul id="special">
      <h4>Events</h4>
      <li>Promote</li>
      <li>Recap</li>
      <li>Archive</li>
    </ul>
    <ul id="special-two">
      <h4>Real Estate</h4>
      <li>Video Walkthroughs</li>
      <li>Photography</li>
      <li>Agent Profile Videos</li>
    </ul>
    <ul>
      <h4>Creative Package / Original Content</h4>
      <li>Music Videos</li>
      <li>Documentaries</li>
      <li>Video Blogs</li>
      <li>Short Films</li>
    </ul>
  </div>
</section>
