<!--<section id="services" class="gradient-banner">-->
  <!--<div class="bg-img"></div>-->
  <!--<div class="content">-->
    <!--<h3>Here are some packages we offer, but-->
    <!--we're always happy to sit down and discuss-->
    <!--a plan of attack together. Once we believe in your cause, nevermind the obstacles.</h3>-->
    <!--&lt;!&ndash; <h3>Once we believe in your cause, nevermind the obstacles.</h3> &ndash;&gt;-->
    <!--<ul>-->
      <!--<h4>Entrepeneurial</h4>-->
      <!--<li>Fundraising Video</li>-->
      <!--<li>Company Culture Video</li>-->
      <!--<li>Client Testimonials</li>-->
      <!--<li>Animation</li>-->
      <!--<li>Product Demo</li>-->
    <!--</ul>-->
    <!--<ul id="special">-->
      <!--<h4>Events</h4>-->
      <!--<li>Promote</li>-->
      <!--<li>Recap</li>-->
      <!--<li>Archive</li>-->
    <!--</ul>-->
    <!--<ul id="special-two">-->
      <!--<h4>Real Estate</h4>-->
      <!--<li>Video Walkthroughs</li>-->
      <!--<li>Photography</li>-->
      <!--<li>Agent Profile Videos</li>-->
    <!--</ul>-->
    <!--<ul>-->
      <!--<h4>Original Content</h4>-->
      <!--<li>Music Videos</li>-->
      <!--<li>Documentaries</li>-->
      <!--<li>Video Blogs</li>-->
      <!--<li>Short Films</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</section>-->
<section id="services" class="gradient-banner">
  <div class="content">
    <h3>Here are some packages we offer, but
      we're always happy to sit down and discuss
      a plan of attack together. Once we believe in your cause, nevermind the obstacles.</h3>
    <!-- <h3>Once we believe in your cause, nevermind the obstacles.</h3> -->
    <ul>
      <h4>Entrepeneurial</h4>
      <li>Fundraising Video</li>
      <li>Company Culture Video</li>
      <li>Client Testimonials</li>
      <li>Animation</li>
      <li>Product Demo</li>
    </ul>
    <ul id="special">
      <h4>Events</h4>
      <li>Promote</li>
      <li>Recap</li>
      <li>Archive</li>
    </ul>
    <ul id="special-two">
      <h4>Real Estate</h4>
      <li>Video Walkthroughs</li>
      <li>Photography</li>
      <li>Agent Profile Videos</li>
    </ul>
    <ul>
      <h4>Original Content</h4>
      <li>Music Videos</li>
      <li>Documentaries</li>
      <li>Video Blogs</li>
      <li>Short Films</li>
    </ul>
  </div>
</section>
