
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="New View Media">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/testimonial.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/portfolio.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/contact-form.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/clients.css" />
