<section id="portfolio">
  <section class="content">
    <h2>Diverse range of projects to educate, entertain & motivate action.</h2>
    <h3>At NewView.Media, we take pride as video producers that facilitate growth for entrepreneurial causes across a range of industries, want to see our portfolio?</h3>
    <ul class="filter flex-horiz-center">
        <li>All</li>
        <li>Crowdfunding</li>
        <li>Events</li>
        <li>Marketing</li>
        <li>Real Estate</li>
        <li>Creative Content</li>
      </ul>
  </section>
  <ul class="media">
  {% for portfolio in site.data.portfolio %}
    <li class="portfolio-card">
      <iframe src= "{{ portfolio.video }}" ></iframe>
      <h3> {{ portfolio.title }} </h3>
      <h4> {{ portfolio.project-name }} </h4>
    </li>
  {% endfor %}
  </ul>
</section>
<script type="text/javascript">
( function() {
  console.log("MAIN JS IS WORKING");
  //gets the youtube thumbnail
  function getYoutubeThumbnail(){
    var portfolio = {{ site.data.portfolio | jsonify }};
    console.log(portfolio);
  }
  getYoutubeThumbnail();
  //sets the youtube thumbnail and loads thumbnail img on page
  function setYoutubeThumbnail(){

  }
})();
</script>
