<section id="portfolio">
  <section class="content">
    <h2>Diverse range of projects to educate, entertain & motivate action.</h2>
    <h3>At NewView.Media, we take pride as video producers that facilitate growth for entrepreneurial causes across a range of industries, want to see our portfolio?</h3>
    <ul class="filter flex-horiz-center">
      <li class="all active" data-filter="all">All</li>
      <li class="crowdfunding" data-filter="crowdfunding">Crowdfunding</li>
      <li class="events" data-filter="events">Events</li>
      <li class="marketing" data-filter="marketing">Marketing</li>
      <li class="real-estate" data-filter="real-estate">Real Estate</li>
      <li class="creative-content" data-filter="creative-content">Creative Content</li>
    </ul>
  </section>
  <ul class="media">
    {% for portfolio in site.data.portfolio %}
    <li data-filter="{{ portfolio.filter-type }}" class="portfolio-card">
      <div>
        <img src="//img.youtube.com/vi/{{ portfolio.video-id}}/0.jpg" alt="{{ portfolio.title }}-{{ portfolio.company }}"/>
        <div class="overlay">
          <div class="text">{{ portfolio.title }}</div>
        </div>
      </div>
      <h4> {{ portfolio.company }} </h4>
    </li>
    {% endfor %}
  </ul>
  {% assign portfolio = site.data.portfolio | where:"id", page.video-id %}
  <div class="modal-video active">
    <div class="modal-video-container">
      <iframe src= "{{ portfolio.video }}" allowfullscreen="allowfullscreen"
              width="100%" frameborder="0"></iframe>
    </div>
    <div class="modal-video-content">
      <h3 class="portfolio-question"></h3>
      <p class="portfolio-description"></p>
      <a class="close-modal-btn">Close Video</a>
    </div>
  </div>
</section>
<script type="text/javascript">
  ( function() {
    let $ = window.$;

    $('ul.media li div .overlay').on("click", function () {
      let currVideo = {};

      let portfolio = {{ site.data.portfolio | jsonify }};

      let i =
        $(this).prev().attr('src').replace('//img.youtube.com/vi/', '').replace('/0.jpg', '');

      for (let port in portfolio) {
        if (portfolio[port]["video-id"] == i) {
          currVideo = portfolio[port]
        }
      }

      $('.modal-video').toggleClass('active');
      $('body').toggleClass('modal-is-open');
      $('body').bind('touchmove', function (e) {
        e.preventDefault();
      });
      $('.modal-video iframe').attr('src', 'https://www.youtube.com/embed/'+i);
      $('.modal-video .portfolio-question').text(currVideo.question);
      $('.modal-video .portfolio-description').text(currVideo.description);
    });

    $('.close-modal-btn').on('click', function () {
      console.log("clicky click");
      $('.modal-video').toggleClass('active');
      $('body').toggleClass('modal-is-open').unbind('touchmove');
      $('.modal-video iframe').attr('src','');;
    });

  })();
</script>
