html, body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
.banner {
  display: block;
  float: left;
  height: 480px;
  position: relative;
  width: 100%;
}
.banner .content {
  color: #fff;
  display: inline-block;
  float: right;
  padding: 15px;
  position: relative;
  width: 55%;
}
.banner .content ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  display: inline-block;
  float: left;
  padding: 10px;
  width: 25%;
}
.banner .content ul li {
  list-style-type: disc;
}
.banner .bg-img {
  float: left;
  width: 45%;
  height: 100%;
  background: url('https://images.pexels.com/photos/321111/pexels-photo-321111.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center center no-repeat;
  background-size: cover;
}

.banner .bg-img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 5%;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, transparent), /* Top */
      color-stop(.40, rgba(255,174,0,1.0)) /* Bottom */
  );
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .banner .content ul {
    display: inline-block;
    float: left;
    width: 50%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .banner .bg-img {
    width: 100%;
  }
  .banner .bg-img::before {
    background: none;
  }
  .banner .content {
    background: rgba(255,174,0,1.0);
    width: 100%;
  }
  .banner .content ul {
    display: inline-block;
    float: left;
    width: 50%;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .banner .bg-img {
    width: 100%;
  }
  .banner .bg-img::before {
    background: none;
  }
  .banner .content {
    background: rgba(255,174,0,1.0);
    width: 100%;
  }
  .banner .content ul {
    width: 100%;
  }
}