#our-process .row {
  display: block;
  background-color: #2A3040;
  padding: 30px;
  width: 100%;
  height: 400px;
  float: left;
}
#our-process .row .content , #our-process .row .image {
  display: inline-block;
  float: left;
  padding: 10px;
  width: calc(50% - 20px);
  color: #fff;
}
#our-process .row .image img {
  width: 80%;
  height: 400px;
}
#our-process .row .content h3 {
  float: left;
  color: #fff;
  width: 100%;
  padding-top: 50px;
  font-size: 30px;
}
#our-process > img {
  width: 40%;
  height: 200px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}