html, body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
.testimonials {
  background-color: #efefef;
  display: block;
  float: left;
  padding: 30px 60px;
}
.testimonials .client-quotes {
  background-color: white;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 30px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
  -webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0 0 8px 3px rgba(0,0,0,0.35);
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.35);
}
.testimonials .client-quotes h4 {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.testimonials .client-quotes span{
  display: block;
  margin-top: -20px;
}
.testimonials .client-quotes blockquote {
  font-size: 20px;
  font-weight: lighter;
  margin: auto auto -50px auto;
  max-width: 768px;
  padding: 30px;
  text-align: center;
}
.testimonials h2 {
  margin: 15px auto;
  text-align: center;
  width: 100%;
}
.testimonial-thumbnail {
  background-color: #b2b9c1;
  border-radius: 50%;
  height: 60px;
  margin: -30px auto 0;
  text-align: center;
  width: 60px;
}
.smaller-circles {
  border-radius: 50%;
  background-color: #b2b9c1;
  display: inline-block;
  height: 13px;
  margin: 0 3px;
  width: 13px;
}
.small-circles-wrap {
  text-align: center;
  margin-top: 25px;
}
.logo-list .logos {
  background-color: #efefef;
  color: #b2b9c1;
  float: left;
  list-style: none;
  text-align: center;
  width: calc(100% / 7);
}
.logo-list {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  background-color: #efefef;
  float: left;
  margin: 15px auto;
  width: 100%;
}
.smaller-circles:hover {
  background-color: #fcaf31;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {
  .testimonials {
    padding: 30px;
  }
  .testimonials .client-quotes {
    width: 100%;
  }
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .logo-list .logos {
    text-align: center;
    width: 25%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .testimonials {
    padding: 30px 15px;
  }
  .logo-list .logos {
    text-align: center;
    width: 33%;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .testimonials {
    padding: 30px 15px;
  }
  .logo-list .logos {
    text-align: center;
    width: 50%;
  }
}
