html, body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
.who-do-we-like {
  float: left;
}
.intro-sec .media video {
  width: 100%;
}
.our-collab-title {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.collaborators {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
li.collaborator {
  float: left;
  font-size: 15px;
  list-style: none;
  width: 25%;
}
.collaborators li.collaborator:hover {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.55);
  border-radius: 2px;
}
.collaborator img {
  border: none;
  border-radius: 50%;
  float: left;
  padding: 15px;
}
.collaborator h3 {
  margin-bottom: 5px;
  margin-top: 35px;
}
.collaborators h2 {
  font-size: 30px;
  text-align: center;
}
.intro-sec {
  float: left;
}
.intro-sec .media {
  border: none;
  display: inline-block;
  float: left;
  margin: 15px auto;
  padding: 15px;
  width: 50%;
}
.intro-sec .content {
  display: inline-block;
  float: left;
  font-family: sans-serif;
  line-height: 1.4;
  margin: 15px auto;
  padding: 15px;
  width: 50%;
}
.intro-sec .content span {
  color: black;
  margin-top: 20px;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  li.collaborator {
    width: 33%;
  }
  .media, .content {
    width: 100%;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  li.collaborator {
    width: 50%;
  }
  .intro-sec .content {
    width: 100%;
  }
  .intro-sec .media {
    width: 100%;
  }
  .intro-sec .media video {
    width: 100%;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  li.collaborator {
    width: 100%;
  }
  .intro-sec .content {
    margin-top: 15px;
    width: 100%;
  }
  .intro-sec .media {
    width: 100%;
  }
  .intro-sec .media video {
    width: 100%;
  }
}
