<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>

  <body>
    <div class="rc-loader">
      <div class="circle-one"></div>
      <div class="circle-two"></div>
    </div>

    {% include header.html %}

    {% include hero.html %}

    {% include portfolio.html %}

<section id="about" class="about-nvm">
    {% include row.html
      title="Meet Tom"
      content="I am a passionate entrepreneur
      who recognizes the potential of media to
      educate, entertain and engage.  As new
      technologies continue to develop and
      allow individuals to connect and
      communicate efficiently like no other
      period in our history, the importance
      of video has risen astronomically.
      Thus, I strive to gather passionate
      teams together to collaborate and produce
      video projects that promote innovative
      ideas and push humanity forward."
      photo="tomdodge_webphoto.jpg"
    %}

    {% include row.html
      title="What's Our Process"
      content="NewView Media provides
      video services to entrepreneurial
      causes in the Greater Boston area
      and beyond.  Beginning with the
      critical preproduction phase, to
      executing shoots and through each
      editing iteration, we aim to guide
      our clients through every step of
      the video production process."
      photo="jakob-owens-198231.jpg"
    %}

    {% include row.html
      title="What video packages do we offer?"
      content="We understand every project requires
      a different strategy to engage your target
      audience.  With over $1 million raised in
      crowdfunding campaigns, NewView.Media is
      confident we can visually communicate your
      view."
      photo="jakob-owens-202697.jpg"
    %}
</section>

{% include services.html %}

{% include testimonials.html %}

<section class="nvm-venture">
    {% include row.html
      title="Why did we start this venture?"
      content="In today’s fast paced world, every frame matters as viewers have an overload of content competing for their attention. With new technologies, the barriers to create video content has decreased. However, the importance of telling stories that advance humanity has never been greater. Through the medium of video, we intend to educate, entertain and motivate action."
      photo="nizar-apt.png"
    %}

    {% include row.html
      title="What's with the questions?"
      content="In our opinion, the role of media is to advance public discussion. Unfortunately, the current media landscape inconsistently stimulates an intellectual forum that leads to action towards socially responsible causes. Therefore, NewView.Media will produce video content that engages our audience to think about new views."
      photo="fenway.png"
    %}

    {% include row.html
      title="Where are we located?"
      content="NewView.Media HQ is located in the Cambridge Innovation Center’s 50 Milk Street building, where we are surrounded by a world class entrepreneurial community. We welcome collaborators to swing by our space for ideation sessions, filming content or to discuss your video strategy."
      photo="50milk-day.png"
    %}
</section>

<section class="collab-sec">

  {% include collaborators.html %}

</section>

{% include contact-form.html %}

{% include footer.html %}

    </body>
</html>
