<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>

  <body>
    <div class="rc-loader">
      <div class="circle-one"></div>
      <div class="circle-two"></div>
    </div>

    {% include header.html %}

    {% include hero.html %}

    {% include portfolio.html %}

    {% include about.html %}

{% include services.html %}

{% include testimonials.html %}

<section class="nvm-venture">
  <section class="row">
    <div class="content">
      <h3>{{ page.venture-row.title }}</h3>
      <p>{{ page.venture-row.content }}</p>
    </div>
    <img src="{{ site.baseurl }}{{ page.venture-row.photo }}" class="row-media" alt="" />
  </section>  
  <section class="row">
    <div class="content">
      <h3>{{ page.questions-row.title }}</h3>
      <p>{{ page.questions-row.content }}</p>
    </div>
    <img src="{{ site.baseurl }}/img/{{ page.questions-row.photo }}" class="row-media" alt="" />
  </section>
  <section class="row">
    <div class="content">
      <h3>{{ page.location-row.title }}</h3>
      <p>{{ page.location-row.content }}</p>
    </div>
    <img src="{{ site.baseurl }}/img/{{ page.location-row.photo }}" class="row-media" alt="" />
  </section>  
</section>

<section class="collab-sec">

  {% include collaborators.html %}

</section>

{% include contact-form.html %}

{% include footer.html %}

    </body>
</html>
