<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>

  <body>
    <div class="rc-loader">
      <div class="circle-one"></div>
      <div class="circle-two"></div>
    </div>

    {% include header.html %}

    {% include hero.html %}

    {% include portfolio.html %}

    {% include about.html %}

{% include services.html %}

{% include testimonials.html %}

<section class="nvm-venture">
    {% include row.html
      title="Why did we start this venture?"
      content="In today’s fast paced world, every frame matters as viewers have an overload of content competing for their attention. With new technologies, the barriers to create video content has decreased. However, the importance of telling stories that advance humanity has never been greater. Through the medium of video, we intend to educate, entertain and motivate action."
      photo="MIN101_Two_2.jpg"
    %}

    {% include row.html
      title="What's with the questions?"
      content="In our opinion, the role of media is to advance public discussion. Unfortunately, the current media landscape inconsistently stimulates an intellectual forum that leads to action towards socially responsible causes. Therefore, NewView.Media will produce video content that engages our audience to think about new views."
      photo="drydock-sunset.png"
    %}

    {% include row.html
      title="Where are we located?"
      content="NewView.Media HQ is located in the Cambridge Innovation Center’s 50 Milk Street building, where we are surrounded by a world class entrepreneurial community. We welcome collaborators to swing by our space for ideation sessions, filming content or to discuss your video strategy."
      photo="milk-street.jpg"
    %}
  <section class="row">
    <div class="content">
      <h3>{{ page.venture-row.title }}</h3>
      <p>{{ page.venture-row.content }}</p>
    </div>
    <img src="{{ site.baseurl }}/img/{{ page.venture-row.photo }}" class="row-media" alt="" />
  </section>  
  <section class="row">
    <div class="content">
      <h3>{{ page.questions-row.title }}</h3>
      <p>{{ page.questions-row.content }}</p>
    </div>
    <img src="{{ site.baseurl }}/img/{{ page.questions-row.photo }}" class="row-media" alt="" />
  </section>
  <section class="row">
    <div class="content">
      <h3>{{ page.location-row.title }}</h3>
      <p>{{ page.location-row.content }}</p>
    </div>
    <img src="{{ site.baseurl }}/img/{{ page.location-row.photo }}" class="row-media" alt="" />
  </section>  
    
</section>

<section class="collab-sec">

  {% include collaborators.html %}

</section>

{% include contact-form.html %}

{% include footer.html %}

    </body>
</html>
